<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>typig finger</title>

    <style>
      .container {
        border: 2px solid red;
        width: 800px;
        /* height: 70vh; */
        position: absolute;
        left: 50vw;
        top: 50%;
        transform: translateX(-50%) translateY(-70%);
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      #timeCont {
        width: 120px;
        height: 120px;
        border: 10px solid blue;
        border-radius: 50%;
        margin-top: 20px;
        text-align: center;
        line-height: 121px;
        font-size: 7em;
      }

      #txtCont {
        border: 5px inset rgb(101, 42, 0);
        margin-top: 50px;
        height: 120px;
        width: 99%;
        overflow: hidden;
        white-space: nowrap;
        font-size: 33px;
        line-height: 121px;
        color: black;
      }

      #instructionTxt {
        text-align: center;
        font-size: x-large;
      }

      .red {
        color: red;
      }
      .green {
        color: green;
      }
      .currentWord {
        border: 2px solid purple;
        /* padding-right: -5px; */
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="timeCont">60</div>
      <div id="txtCont">
        <span id="word-1">
          <span id="char-1"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </span>
      </div>
    </div>
    <p id="instructionTxt">Start typing...</p>

    <script>
      let curChar = 0;
      let overallChar = 0;
      let curWord = 0;
      let removableWord = -1;
      let currentWord = 1;
      let wordCount = 0;
      let charCount = 0;
      let allWords = [];

      function getWords() {
        // getting the list of 10 words first time
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "generatetxt", true);
        xhr.onload = function () {
          let tempWordList = JSON.parse(this.responseText);
          tempWordList.forEach(addWord);
          allWords = allWords.concat(tempWordList);
        };
        xhr.send();
      }

      function addWord(item) {
        // creating the span container for each word
        let wordCont = document.createElement("span");
        wordCont.setAttribute("id", "word" + wordCount);
        txtCont.appendChild(wordCont);
        item.forEach(function (char) {
          addChar(char, wordCont);
        });
        wordCount += 1;
      }
      function addChar(char, wordCont) {
        // adding characters in word contianer
        let charCont = document.createElement("span");
        charCont.innerHTML = char;
        charCont.setAttribute("id", "char" + charCount);
        wordCont.appendChild(charCont);
        charCount += 1;
      }

      function goToNextWord() {
        curWord += 1;
        curChar = 0;

        // remvoving the extra word in left
        document.getElementById("word" + removableWord).style.display = "none";
        removableWord += 1;

        // removing the current word class from last word
        document
          .getElementById("word" + (currentWord - 1))
          .classList.remove("currentWord");

        // adding the current word class to next word
        document
          .getElementById("word" + currentWord)
          .classList.add("currentWord");
        currentWord += 1;
      }

      function matchKey(key) {
        // if backspace is pressed
        if (key == "Backspace") {
        } else {
          // when word is exceeded
          if (curChar > allWords[curWord].length - 2) {
            goToNextWord();
          }
          //-2 because -1 as index start with 0 and another -1 as there also contains a whitespace in word list
          else {
            // when key matches
            if (key == allWords[curWord][curChar]) {
              let charId = "char" + overallChar;
              document.getElementById(charId).classList.add("green");
            }

            // when key did not match
            else {
              document
                .getElementById("char" + overallChar)
                .classList.add("red");
            }
            curChar += 1;
          }
          overallChar += 1;
        }
      }

      //   function goToPreviousWord() {
      //     if (curWord>0){
      //     document
      //       .getElementById("word" + curWord)
      //       .classList.remove("currentWord");
      //       curWord -= 1
      //       curChar = ((allWords[curWord]).length)-3
      //       // console.log("the word is ; ",allWords[curWord].length);
      //       document
      //         .getElementById("word" + curWord)
      //         .classList.add("currentWord");

      //         if (curWord>-1){

      //       // console.log("not applicable");

      //       delWord = document.getElementById("word"+(removableWord-1))
      //       console.log("required element is ; ", delWord);
      //       delWord.removeAttribute("display")
      //       console.log("after remvoing att: ", document.getElementById("word"+(removableWord-1)));
      //       removableWord -= 1
      //     // console.log("current word was :",curWord+1, "and del word is : ", delWord);
      //   }
      // }
      // else{console.log("already on the least position ");}
      //   }

      function checkBackspace(key) {
        if (key == "Backspace") {
          if (curChar > 0) {
            overallChar -= 1;
            curChar -= 1;
            document
              .getElementById("char" + overallChar)
              .removeAttribute("class");
          } else {
            //do nothing
          }
        }
      }

      let timeCont = document.getElementById("timeCont");
      let body = document.getElementsByTagName("body")[0];
      let sec = 60;

      function addELToBody() {
        body.addEventListener("keydown", firstKeyPress);
      }

      function firstKeyPress() {
        startTime();
        body.removeEventListener("keydown", firstKeyPress);
      }
      // let word;
      let wrongWord = 0;
      function countMistypedWord(wordTyped) {
        for (let i = 0; i < wordTyped; i++) {
          if (
            document.getElementById("word" + i).querySelector(".red") != null
          ) {
            wrongWord += 1;
          }
        }
        return wrongWord;
      }

      function startTime() {
        setInterval(() => {
          sec -= 1;
          if (sec == 40) {
            let totalWords = curWord;
            let totalChar = overallChar - 1;
            let MTWords = countMistypedWord(curWord);
            let MTChars = document.querySelectorAll(".red").length;

            window.location.replace(
              `/result?totalWords=${totalWords}&totalChar=${totalChar}&MTWords=${MTWords}&MTChars=${MTChars}`
            );
          }

          timeCont.innerHTML = sec.toString();
        }, 1000);
      }

      window.addEventListener("keypress", function (event) {
        matchKey(event.key);
      });
      window.addEventListener("keydown", function (event) {
        checkBackspace(event.key);
      });

      window.onload = addELToBody();

      getWords();
      setTimeout(() => {
        document.getElementById("word0").classList.add("currentWord");
      }, 200);

      // adding 10 new words after each 2 seconds
      setInterval(() => {
        getWords();
      }, 2000);
    </script>
  </body>
</html>
