<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
      >

      <style>
        .form-control-lg{
            width: 50%;
        }
        .warningTxt{
            color: red;
            text-decoration: none;
        }
        a{
            text-decoration: none;
        }
      </style>

</head>
<body>
    <div class="container">
    <form class = 'form-control-lg' method="post" action="/new-user-login"> {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name = "pwd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <span class="forgotpwd"><a href="/forgotpwd">Forgot Password?</a></span>
      </form>
      <div class="warningTxt">{{warning}}</div>
    </div>
</body>
</html>